<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxiue.shopping.modules.store.mapper.RegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youxiue.shopping.modules.store.entity.Region">
        <id column="id" property="id" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="level" property="level" />
        <result column="parent_region_code" property="parentRegionCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, region_code, region_name, level, parent_region_code
    </sql>

</mapper>
