<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxiue.shopping.modules.store.mapper.StoreInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youxiue.shopping.modules.store.entity.StoreInfo">
        <id column="id" property="id" />
        <result column="store_name" property="storeName" />
        <result column="reputation" property="reputation" />
        <result column="region_code" property="regionCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_name, reputation, region_code
    </sql>

</mapper>
